<div class="overlay">
    <div class="poziv-container">
        <h1 class="pozivatelj">Pero Perić</h1>
        <p style="color: white;">01:21</p>

        <div class="call-icons">
            <button mat-fab style="transform: scale(0.9); background-color: transparent; border: solid white 1px;" >
                <mat-icon style="color: white;">mic_off</mat-icon>
            </button>
            <button mat-fab style="transform: scale(0.9); background-color: transparent; border: solid white 1px;" >
                <mat-icon style="color: white;">dialpad</mat-icon>
            </button>
            <button mat-fab style="transform: scale(0.9); background-color: transparent; border: solid white 1px;" >
                <mat-icon style="color: white;">volume_up</mat-icon>
            </button>
            
        </div>
        <div class="call-icons" >
            <button mat-fab style="transform: scale(0.9); background-color: transparent; border: solid white 1px;" >
                <mat-icon style="color: white;">add</mat-icon>
            </button>
            <button mat-fab style="transform: scale(0.9); background-color: transparent; border: solid white 1px;" >
                <mat-icon style="color: white;">videocam</mat-icon>
            </button>
            <button mat-fab style="transform: scale(0.9); background-color: transparent; border: solid white 1px;" >
                <mat-icon style="color: white;">person</mat-icon>
            </button>
        </div>
        <div>
            <button mat-fab style="transform: scale(0.9); background-color: rgb(209, 43, 57);  margin-top: 100px;" (click)="router.navigate(['home'])" >
                <mat-icon style="color: white;">call_end</mat-icon>
            </button>
        </div>
        
    </div>
</div>